<header class="wrapper row full-center">
  <!-- Logo image -->
  <div class="logo">
    <img
      class="logo-icon"
      src="assets/images/angular_white.png"
      alt="Angular logo"
    />
    <span>Whebshop</span>
    <span>App</span> 
  </div>

  <!-- Navigation -->
  <div class="row gap-1">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a routerLink="/about-us" routerLinkActive="active">About</a>
  </div>
</header>
